.container {
  margin: 0 auto;
  max-width: 1300px;
}

.flex-container {
  display: flex;
}

@media (max-width: 1366px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 954px;
  }
}