.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $first-color;

  &-wrapper {
    align-items: center;
  }
 }

.swiper-slide {
   background: #fff;
   
   .slide-text {
    padding-left: 20px;
    padding-right: 44px;

    &__title {
      @include font(14px);
      font-weight: 800;
      line-height: 18px;
      margin-bottom: 2px;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &__country-description {
      @include font(12px);
      font-weight: 600;
      line-height: 16px;
      margin: 0;

      &::first-letter {
        text-transform: uppercase;
      }
    }
   }

   &:not(:nth-last-of-type(1))::after {
    content: ' ';
    border-right: solid 1px $secondary-color;
    height: 36px;
    margin-top: -16px
   }
   

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
    justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.slider-img-wrapper {
  width: 76px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}