@font-face {
	font-family: Mont;
	font-display: swap;
	src: url("../fonts/Mont-Bold.woff2") format("woff2"), url("../fonts/Mont-Bold.woff") formar("woff");
	font-weight: 700;
	font-style: notmal;
}
@font-face {
	font-family: Mont;
	font-display: swap;
	src: url("../fonts/Mont-Regular.woff2") format("woff2"), url("../fonts/Mont-Regular.woff") formar("woff");
	font-weight: 400;
	font-style: notmal;
}
